/* .SearchSpinner .loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
} */
.SearchSpinner {
  position: absolute;
  right: -0.2rem;
  top: -0.95rem;
}

/*
  Set the color of the icon
*/
.SearchSpinner svg path,
svg rect {
  /* fill: #ff6700; */
  fill: #000;
}
