@import '../../../mixins/green-link';

.AuthorBooks {
  margin-top: 1.75rem;
  max-width: 700px;

  .header {
    .header-text {
      font-size: 1.5rem;
      a:hover {
        text-decoration: underline;
      }
    }

    .header-author {
      display: flex;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .author-img {
      max-height: 100px;
      margin-right: 0.5rem;
    }

    .author-details {
      a,
      .author-stats {
        display: block;
        a {
          display: inline;
        }
      }

      .author-name {
        font-family: $font-secondary;
        font-size: 0.95rem;
      }

      .author-stats {
        font-size: 0.85rem;
        margin-top: 0.2rem;

        .stats-separator {
          padding: 0 0.1rem;
        }
      }
    }
  }

  .book-list-container {
    margin-top: 1rem;

    .pagination-header {
      font-size: 0.85rem;
      display: flex;
      justify-content: space-between;
    }

    .book-list {
      .DropdownButton {
        .btn--green {
          &:first-of-type {
            padding-right: 1rem;
          }
        }
      }
    }

    .pagination-footer {
      margin-top: 0.4rem;
      float: right;
      font-size: 0.85rem;
    }
  }
}
