.AuthorBook {
  padding: 0.6rem 0.3rem;
  border-bottom: 1.5px solid rgba(51, 51, 51, 0.1);
  display: flex;
  justify-content: space-between;

  &__preview {
    display: flex;
    // flex-shrink: 1;
    flex-basis: 70%;
    flex-grow: 0;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__cover {
    min-width: 70px;
    img {
      max-width: 70px;
      max-height: 80px;
    }
    margin-right: 0.5rem;
  }

  &__details {
    display: flex;
    flex-direction: column;

    &-header {
      font-family: $font-secondary;
      font-size: 0.95rem;
      margin-bottom: 0.1rem;
    }

    &-rating {
      margin-bottom: 0.2rem;
    }

    &-specifics {
      margin-bottom: 0.1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .text-tiny {
        margin-left: 0.2rem;
        display: inline-block;
        margin-top: 0.15rem;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    .DropdownButton {
      .btn--green {
        &:first-of-type {
          padding-right: 0.4rem;
        }
      }
    }
  }

  &__rate {
    margin-top: 0.1rem;

    &-text {
      display: inline-block;
      margin-left: 0.15rem;
      margin-bottom: 0.15rem;
    }
  }
}
