@import '../../../mixins/green-link';
.Author {
  // display: flex;
  // justify-content: space-between;
  padding-top: 1rem;

  .profile--author {
    flex-grow: 1;
    max-width: 70%;
  }

  .profile__description {
    a {
      @include green-link;
    }
  }

  .more-books {
    float: right;
    margin-top: 0.6rem;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.profile__details--author {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;

  .text-bold {
    width: 15%;
  }

  .author-influences {
    a {
      @include green-link;
    }
  }

  .born-date {
    display: inline-block;
    margin-top: 0.15rem;
  }
}

.Author-books {
  margin-top: 1.75rem;

  .author-stats {
    padding: 0.5rem 0.4rem;
    font-size: 0.85rem;

    .middle-dot {
      padding: 0 0.2rem;
    }
    a {
      @include green-link;
    }
  }

  &__header {
    font-size: 0.85rem;
    text-transform: uppercase;
    word-spacing: 2px;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
