.Modal {
  z-index: 999999;
  background-color: $bg-primary;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);

  &__close-container {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    padding: 0.4rem 0.8rem;
  }
  &__close-icon {
    cursor: pointer;
    float: right;
    font-size: 1.4rem;
    color: #999;
  }
}
