.MessageSpool {
  max-width: 60rem;
  margin: unset;

  // .alert-container {
  //   .alert {
  //     margin: 0;
  //   }
  //   height: 3rem;
  // }

  &__top {
    display: flex;
    justify-content: space-between;
    .MessageActions {
      margin-left: 0rem;
    }
  }

  &__spool-container {
    margin-top: 2rem;

    width: 70%;
    .alert-container {
      .alert {
        margin: 0;
      }
      height: 3rem;
    }
  }

  &__spool {
    .pagination {
      text-align: right;

      &-top {
        margin-bottom: 1rem;
      }
      &-bottom {
        margin-top: 1rem;
      }
    }
  }
}
