.messenger-nav-list {
  li {
    margin-bottom: 0.1rem;
  }
  .messenger-nav-compose {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .nav-active {
    color: #333;
  }
}
