.MessageActions {
  .inbox-link {
    display: inline-block;
    margin-bottom: 2rem;
  }

  .action-list-header {
    font-size: 1.15rem;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  button {
    margin-bottom: 0.15rem;
  }
}
