@import '../../../mixins/green-link';

.Bookshelves {
  padding-top: 1rem;

  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;

    .breadcrumb {
      padding: 0 0.3rem;
    }
    &-text {
      font-size: 1.4rem;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__shelves-nav {
    width: 22%;
    font-size: 0.95rem;
    margin-top: 0.8rem;
    margin-right: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .list-header {
      font-weight: bold;
      margin-bottom: 0.4rem;
    }
    .shelf-name {
      margin: 0.2rem 0;
      @include green-link;
      .active-shelf {
        color: #333;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__list {
    margin-top: 2rem;
    flex-grow: 1;

    .pagination-head,
    .pagination-foot {
      display: flex;
      padding: 0 1rem;

      align-items: center;
    }

    .pagination-head {
      justify-content: space-between;
      margin-bottom: 1.2rem;

      .pagination-filter {
        position: relative;
        input {
          width: 15rem;
          padding-right: 1.5rem;
        }
        button {
          position: absolute;
          border: none;
          background-color: transparent;
          cursor: pointer;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);

          .fa-search {
            // color: #999;
            opacity: 0.6;
          }
        }
      }
    }

    .pagination-foot {
      justify-content: space-between;
      margin-top: 0.6rem;

      &--infinite {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $bg-primary;
        // width: 100%;
        right: 0;
        padding: 0.45rem 0rem;
        padding-bottom: 0.65rem;

        justify-content: flex-end;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    .no-items {
      text-align: center;
      margin: 1.5rem 0;
      color: #999;
    }

    &-header {
      padding: 0 0.8rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      th {
        padding: 0.2rem 0.5rem;
        font-size: 0.95rem;
        text-align: left;
        span {
          cursor: pointer;
        }
      }
    }

    &-book {
      min-height: 100px;
      td {
        padding: 0 0.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.4rem;

        vertical-align: top;
        text-align: center;
        text-align: left;
      }

      .cover {
        width: 10%;
        min-height: 100%;
        img {
          max-width: 60px;
          max-height: 80px;
        }
      }

      .title {
        // width: 35%;
        flex-grow: 1;
        // border: 1px solid black;
      }
      .author {
        width: 15%;
      }

      .avg-rating {
        width: 8%;
      }

      .other-rating,
      .my-rating {
        width: 15%;
        .Rating,
        .Rating-fixed {
          span {
            height: 16px;
            width: 16px;
          }
        }
      }

      .my-rating {
        flex-grow: 0;
        .shelf-action {
          display: block;
          // text-align: center;
          font-size: 0.8rem;
          margin-top: 0.2rem;
          @include green-link;
        }

        .edit-pane {
          font-size: 0.8rem;
          display: none;
          position: absolute;
          background-color: #fff;
          z-index: 200;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          min-width: 15rem;
          padding: 0.2rem 0.6rem;
          padding-bottom: 1.5rem;

          .edit-pane-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.4rem;
            .header-text,
            .close-button {
              font-weight: normal;
              color: #999;
              font-size: 0.8rem;
            }
            .close-button {
              cursor: pointer;
            }
          }

          label {
            display: flex;
            align-items: center;
            padding: 0.4rem 0.1rem;

            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            &:hover {
              background-color: #ffffe0;
            }
            .label-text {
              margin-left: 0.4rem;
            }
          }

          .unshelf {
            .fa-times {
              color: #999;
            }
          }
        }

        .edit-pane--active {
          display: block;
        }
      }

      .date-shelved {
        width: 10%;
        // flex: 1 0 15%;
      }

      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
