.FriendPanel {
  display: flex;
  margin: 0.6rem 0;
  height: 4rem;

  &__avatar {
    margin-right: 0.5rem;

    img {
      // max-height: 65px;
      height: 65px;
      max-width: 50px;
    }
  }

  &__content {
    font-size: 0.8rem;

    .friend-name {
      display: block;
      font-size: 0.9rem;
    }

    .details {
      display: flex;
      align-items: center;
    }

    .divider {
      font-size: 1rem;
      padding: 0 0.25rem;
      opacity: 0.5;
    }
  }
}
