@import '../../../mixins/green-link';

.Profile {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  main {
    flex-grow: 1;
    max-width: 60%;
  }

  aside {
    flex-grow: 1;
    max-width: 25%;
  }

  .edit-profile {
    font-family: $font-primary;
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  .btn--friend {
    width: 8rem;
    .button-check {
      padding-right: 0.25rem;
    }
  }

  .Unfriend-modal {
    padding: 1.5rem;
    padding-top: 0rem;
    &__header {
      margin-bottom: 1rem;
      font-family: $font-secondary;
    }
    &__body {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    &__actions {
      button {
        margin: 0rem 0.4rem;
        font-size: 1.1rem;
      }
    }
  }

  .panel--bookshelves {
    margin-top: 1rem;
  }

  .shelves {
    li {
      display: inline-block;

      margin-right: 3rem;
      // padding: 0.8rem 0;
      font-size: 0.95rem;
    }
  }

  .see-all-reading,
  .see-all-books {
    float: right;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .CurrentRead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.panel {
  padding-bottom: 1.75rem;
  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.4rem;
    margin-bottom: 0.8rem;
    &-text {
      font-size: 0.86rem;
      text-transform: uppercase;
    }
  }

  &__body {
    padding: 0.2rem;
    a {
      @include green-link;
    }
  }

  &__footer {
    padding-top: 0.3rem;
    padding-bottom: 1rem;
  }
}
