.PaginationSettings {
  display: flex;
  flex-direction: column;

  &__label {
    color: #999;
    margin-right: 0.4rem;
  }

  &__dir-label {
    margin-left: 0.3rem;
  }

  &__sort {
    margin-top: 0.5rem;
    input[type='radio'] {
      margin-left: 1rem;
    }
  }
}

.pagination-foot--infinite {
  .PaginationSettings {
    flex-direction: row;
    // justify-content: flex-end;
    align-items: center;
    // border: 1px solid black;
    padding-right: 6rem;
    &__sort {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}
