.sidebar {
  &__header {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    margin-bottom: 0.6rem;
  }

  &__panel {
    display: flex;
    margin: 0.5rem 0;

    &-img {
      max-height: 66px;
      max-width: 50px;
      margin-right: 0.5rem;
    }

    &-content {
      font-size: 0.8rem;
      a {
        font-size: 0.95rem;
        display: block;
        margin-top: 0.1rem;
        margin-bottom: 0.2rem;
      }
      span {
        padding: 0 0.1rem;
      }
      .divider {
        font-size: 1rem;
        opacity: 0.5;
      }
    }
  }
}
