.Book {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  .profile--book {
    // flex-grow: 1;
    // max-width: 50%;
    // border: 1px solid purple;

    .profile__side--book {
      flex-grow: 1;
      flex-basis: 25%;
      margin-right: 1rem;
      // border: 1px solid red;
    }

    .profile__main--book {
      // flex-grow: 0;
      max-width: 600px;
      // padding-right: 3rem;
    }
  }
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: #999;
}

.by-author {
  display: inline-block;
  font-size: 1.1rem;
  font-family: $font-secondary;
  margin-bottom: 0.5rem;

  a:hover {
    text-decoration: underline;
  }
}

.minirating-container {
  font-size: 0.9rem;
}

.avg-rating {
  padding-left: 0.4rem;
  font-size: 0.85rem;
}

.details-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.2rem 0;

  .details-physical {
    .first-published {
      margin-left: 0.4rem;
    }
  }
  .details-metadata {
    margin-top: 1rem;
    li {
      margin-bottom: 0.2rem;
    }
  }
}

.profile__details--book {
  font-size: 0.9rem;

  .text-bold {
    font-weight: bold;
    display: inline-block;
    width: 8rem;
    margin-right: 1rem;
  }
}

.also-enjoyed {
  margin-top: 2rem;
  .also-enjoyed-header {
    font-size: 0.85rem;
    margin-bottom: 0.6rem;
    text-transform: uppercase;
  }
  .see-similar {
    font-size: 0.9rem;
    display: block;
    text-align: right;
    font-weight: bold;
  }
}

.sidebar-authors {
  margin-top: 5rem;
}

.sidebar__panel--author {
  padding-bottom: 0.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  &:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
