@import 'form-box';

.ForgotPassword {
  @extend %form-box;

  .form-container {
    min-height: 300px;
  }

  .signin-footer {
    padding-top: 0.5rem;
    font-size: 0.8rem;

    a {
      padding-left: 0.4rem;
    }
  }

  .reset-error {
    color: rgba(255, 0, 0, 0.8);
  }

  .loader-container {
    margin: 0.2rem auto;
    margin-top: 3rem;
    // border: 1px solid red;
    .Loader {
      margin: 0 auto;
      transform: none;
    }
  }

  .success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    // border: 1px solid red;
  }

  .btn-container {
    .cancel {
      margin-left: 0.8rem;
      font-size: 0.9rem;
    }
  }

  .btn--back {
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    background-color: $btn-light;
    border: 1px solid rgba(0, 0, 0, 0.2);
    &:hover {
      background-color: darken($btn-light, 5%);
    }
  }

  .email-address {
    font-weight: bold;
  }
}
