@import '../mixins/green-link';
@import '../mixins/middle-dot';

/* BODY */

html,
body {
  // width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $font-primary;
  color: $txt-primary;
  // max-width: 1400px;
  margin: 0 auto;
  // background-color: rgb(250, 250, 250);

  // @include green-link;
  min-width: 1200px;
  overflow-x: scroll;

  .green-link {
    @include green-link;
  }

  @include middle-dot;
}

.page {
  min-height: 80vh;
}

.page-container {
  height: 100%;
  position: relative;
  max-width: $page-max-width;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 1200px) {
    padding: 0 4rem;
  }
  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

/* FORMS */

.form-control {
  font-family: $font-primary;
  padding: 0.3rem;
  border-radius: 3px;
  border: 1px solid $trim-primary;

  &:focus,
  &:active {
    box-shadow: 0 0 4px rgba(185, 173, 153, 0.5);
    border-color: $trim-secondary;
  }

  &--error {
    &,
    &:active,
    &:focus {
      border-color: rgba(255, 0, 0, 0.25);
      box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
    }
  }
}

.form-control__errors {
  ul {
    list-style-type: none;
    li {
      color: rgba(255, 0, 0, 0.8);
      padding: 0.2rem 0;
    }
  }
}

/* BUTTONS */

.btn {
  font-family: $font-primary;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn--light {
  background-color: $btn-light;
  border: 1px solid rgba(185, 173, 153, 0.5);
  color: #333;

  &:hover {
    background-color: darken($btn-light, 5%);
  }
}

.btn--dark {
  font-family: $font-primary;
  background-color: $btn-dark;
  color: white;

  &:hover {
    background-color: $btn-dark-hover;
  }
}

.btn--green {
  font-family: $font-primary;
  background-color: $btn-green;
  color: white;

  &:hover {
    background-color: darken($btn-green, 3%);
  }
}

.btn--grey {
  background-color: #f2f2f2;
  color: #181818;
  border: 1px solid #ddd;
}

.button-reset {
  background-color: transparent;
  border: none;
  font-family: $font-primary;
  font-size: 1rem;
  cursor: pointer;
}
