@import '../../../mixins/green-link';
@import '../../../mixins/middle-dot';

.Feed {
  @include green-link;
  @include middle-dot;

  a:hover {
    text-decoration: underline;
  }

  .Feed__container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.8rem;

    h2,
    h3 {
      text-transform: uppercase;
      font-size: 1rem;
    }

    .sidebar {
      flex-basis: 25%;
      // border: 1px solid black;
      padding: 0.4rem;
      padding-top: 0;
      margin-right: 1rem;

      @media (max-width: 900px) {
        margin-right: 0rem;
      }

      @media (max-width: 800px) {
        flex-basis: 20%;
      }
      @media (max-width: 750px) {
        flex-basis: 16%;
      }
      @media (max-width: 700px) {
        display: none;
      }

      .sidebar__panel {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.75rem 0.2rem;
        padding-top: 0;
      }

      .sidebar__panel-footer {
        margin-top: 0.5rem;
        font-size: 0.95rem;
      }
    }

    main {
      padding: 1rem;
      padding-top: 0;
      margin-left: 2rem;
      margin-right: 10rem;
      flex-basis: 70%;
      flex-grow: 1;

      @media (max-width: 1300px) {
        margin-right: 6rem;
      }
      @media (max-width: 1200px) {
        margin-right: 4rem;
      }
      @media (max-width: 1100px) {
        margin-right: 2rem;
      }
      @media (max-width: 1000px) {
        margin-right: 0;
      }
    }
  }
}

.sidebar {
  flex-basis: 25%;
  // border: 1px solid black;
  padding: 0.4rem;
  padding-top: 0;
  margin-right: 1rem;

  @media (max-width: 1000px) {
    flex-basis: 24%;
  }

  .sidebar__panel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.75rem 0.2rem;
    padding-top: 0;
  }

  .sidebar__panel-footer {
    margin-top: 0.5rem;
    font-size: 0.95rem;
  }
}
