.FindFriends {
  .container {
    padding-top: 1.5rem;
  }
  .content-container {
    padding: 0 0.4rem;
    max-width: 40rem;
  }
  h1,
  h2 {
    font-family: $font-secondary;
  }

  .header-text {
    margin-bottom: 1.5rem;
  }

  &__search {
    margin-top: 0.5rem;
    input {
      width: 18rem;
    }
  }

  &__list {
    margin-top: 1.5rem;

    .ProfileResult {
      margin-bottom: 1rem;
    }
  }

  &__pagination {
    margin: 1rem 0;
    text-align: right;
  }
}
