.FriendOfFriend {
  display: flex;
  align-items: flex-start;
  // border: 1px solid black;
  margin: 0.4rem 0;
  img {
    max-width: 80px;
    margin-right: 1rem;
  }
  .details {
    margin-top: 0.5rem;
    margin-right: 1.5rem;
  }
  .mutual-friends {
    margin: 0.5rem 0;
  }
  .friend-button {
    align-self: center;
  }
}
