.FriendsOfFriends {
  // background-color: #fff;
  .container {
    padding-top: 1.5rem;
  }
  .content-container {
    padding: 0 0.4rem;
    max-width: 40rem;
  }
  .header-text {
    margin-bottom: 1.5rem;
  }

  &__pagination {
    margin: 1rem 0;
    text-align: right;
  }
}
