.OtherFriends {
  .showing-detail {
    font-size: 0.9rem;
    margin-left: 0.75rem;
  }

  .Friends__header--other {
    border-bottom: none;
    display: flex;
    justify-content: space-between;

    .profile-link {
      align-self: flex-start;
    }
  }

  &__list {
    margin-top: 1.5rem;
    width: 85%;
    .text-faded {
      color: #999;
    }
    .sort-label {
      margin-right: 0.5rem;
    }
    .list-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .list-footer {
      text-align: right;
      margin-top: 1rem;
    }
  }
}
