.BookResult {
  padding: 0.6rem 0.3rem;
  border-bottom: 1.5px solid rgba(51, 51, 51, 0.1);
  display: flex;
  align-items: flex-start;
  .BookResult__cover {
    max-width: 60px;
    margin-right: 1rem;
  }

  &__details {
    &-header {
      font-family: $font-secondary;
      font-size: 1.1rem;
      &:hover a {
        text-decoration: underline;
      }
    }

    &-by {
      font-size: 0.85rem;
      display: inline-block;
      margin-bottom: 0.2rem;
    }
    &-author {
      font-family: $font-secondary;
      font-size: 0.9rem;
      &:hover a {
        text-decoration: underline;
      }
    }

    &-specifics {
      margin-bottom: 0.1rem;
      display: flex;
      align-items: center;
      .text-tiny {
        margin-left: 0.2rem;
        display: inline-block;
        margin-top: 0.15rem;
      }
    }

    .minirating {
      margin-right: 0.6rem;
    }

    .btn-group {
      .btn {
        font-size: 0.85rem;
      }
    }
  }

  &__rate {
    margin-top: 0.1rem;

    &-text {
      display: inline-block;
      margin-left: 0.15rem;
      margin-bottom: 0.15rem;
    }
  }
}

.text-tiny {
  color: #999;
  font-size: 0.75rem;
}

.btn-group {
  // border: 1px solid black;
  display: inline-block;
  position: relative;
  margin-top: 0.4rem;
  .btn--green {
    font-size: 0.85rem;
    padding: 0.4rem 0.5rem;
    padding-right: 2rem;
    font-weight: bold;
  }

  .btn--dropdown {
    padding-right: 0.6rem;

    &:hover {
      + .btn-dropdown-pane {
        display: inline-block;
      }
    }
  }

  .btn-dropdown-pane {
    font-size: 0.8rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    // display: inline-block;
    display: none;
    // padding: 0.15rem 0.8rem;
    position: absolute;
    top: 98%;
    right: 0;
    // right: 0;

    &:hover {
      display: inline-block;
    }

    ul {
      list-style-type: none;
      // padding: 0.2rem 0rem;
      a {
        // border: 1px solid black;
        display: block;
        padding: 0.3rem 0.8rem;

        li {
          font-weight: normal;
        }
      }
    }
  }
}
