$txt-primary: #333;
$txt-green: #00635d;
$txt-light: #999;
$logo-primary: #382110;
$logo-secondary: #9e9286;
$bg-primary: #f4f1ea;
$bg-secondary: #f9f7f4;
$bg-tertiary: #f3f3f3;
$hover-color: #f4f1ea;
$btn-dark: #382110;
$btn-dark-hover: #58371f;
$btn-light: #f4f1ea;
$btn-green: #409d69;
$trim-primary: #dcd6cc;
$trim-secondary: #b9ad99;

$color-facebook: #3b5998;
$color-twitter: #00acee;
$color-youtube: #c4302b;
$color-instagram: #833ab4;
$color-linkedin: #0077b5;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Merriweather', serif;

$header-height: 4rem;

$body-max-width: 1500px;
$page-max-width: 1200px;

$mobile-width: 600px;
$header-login-breakpoint: 700px;
$registration-box-breakpoint: 700px;
$landing-header-vanish-breakpoint: 450px;
